<h2 class="title-w80 sign-title">Resend confirmation instructions</h2>

<div class="container">
  <div class="black-border sign-up">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, "data-turbo": "false" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
</div>

<div class="bottom-links">
  <%= render "devise/shared/links" %>
</div>
