<button class="button">Back to user: <%= link_to @user.name, user_path(@user) %></button>

<%= render @user %>

<button class= "button"><%=link_to "Add new post", new_user_post_path %></button>

<%@post.each do |post|%>
<%= render post %>
<div class='comments'>
    <%post.most_recent_comments.each do |comment|%>
    <p><%=post.author.name%>: <%=comment.text%></p>
    <%end%>
</div>
<%end%>
<button>Pagination
</button>